@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?66iwoq');
  src:  url('fonts/icomoon.eot?66iwoq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?66iwoq') format('truetype'),
    url('fonts/icomoon.woff?66iwoq') format('woff'),
    url('fonts/icomoon.svg?66iwoq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\2665";
}
.icon-home:before {
  content: "\f08d";
}
.icon-social-twitter:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e036";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-retweet:before {
  content: "\e901";
}
.icon-pointer:before {
  content: "\e900";
}

